PORT=5001

#CONNECTION STRING
DATABASE_URL="postgresql://postgres:your_password@localhost:5432/task_manager_db"

#ACCESS TOKEN
JWT_SECRET="your_jwt_secret_here"
JWT_EXPIRES_IN="1h"

#ENVIRONMENT
NODE_ENV=development
